Some new gems

  ----------------------------------------------------
  <% @gem_infos.each do |p| %>
  <li>
    <%= "#{p.title}\n" %>
    <%= "#{p.url}\n" %>
  </li>
    ....................................................
  <% end %>